html {
  background: rgb(228, 247, 204);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
}
#webcam {
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
}
